<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dark</key>
	<string></string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/mixxorz/GarageBard/feature/auto-update/Installer/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>JHMTjnBMAI8/0d2EJ58APYYEP+taEmhLAui+aptETQ0=</string>
</dict>
</plist>
